<h1>ATM View</h1>
<div class="main">
    <section class="display">
        > Welcome, Henry!
        <!-- Display Feedback information here -->
        <h2>{{value}}</h2>
        <input type="text" [(ngModel)]="value" />
        <div *ngIf="isDisplayBalance">
            <h2>Your Balance is {{this.bankService.account.balance}} usd.</h2>
            <button (click)="closeBalance()">Clear</button>
        </div>
    </section>
    <aside class="options">
        <!-- Add functionality to the buttons below -->
        <ul class="options-list">
            <li class="options-item">
                <button (click)="withdraw()">Make a Withdrawal</button>
            </li>
            <li class="options-item">
                <button (click)="deposit()">Deposit Money</button>
            </li>
            <li class="options-item">
                <button (click)="displayBalance()">Balance Inquiry</button>
            </li>
            <li class="options-item">
                <button>Transactions History</button>
            </li>
        </ul>
    </aside>
</div>