.main {
    display: flex;
    flex-flow: row nowrap;
    -webkit-box-shadow: 0px 0px 20px 10px #0085ff;
    -moz-box-shadow: 0px 0px 20px 10px #0085ff;
    box-shadow: 0px 0px 20px 10px #0085ff;
}

.display {
    flex-basis: 50vw;
    background-color: navy;
    color: white;
}

.options {
    flex-basis: 50vw;
    margin: 20px;
}

.options-list {
    list-style: none;
}

.options-item {}

input {
    margin: 15px;
}

p {
    color: red;
}

h1 {
    margin: 30px;
}

.trans {
    border: 5px solid #707374;
    margin: 5px;
}

.atmbtn {
    box-shadow: inset 0px 1px 0px 0px #97c4fe;
    background: linear-gradient(to bottom, #3d94f6 5%, #1e62d0 100%);
    background-color: #3d94f6;
    border-radius: 6px;
    border: 1px solid #337fed;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #1570cd;
    margin: 5px;
}

.atmbtn:hover {
    background: linear-gradient(to bottom, #1e62d0 5%, #3d94f6 100%);
    background-color: #1e62d0;
}

.atmbtn:active {
    position: relative;
    top: 1px;
}